html {
  box-sizing: border-box;
  font-family: 'Contrail One', cursive;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2b3951;
  padding: 3.5em 0 0 0;
  margin: 0;
}

div {
  margin: 0 auto;
  width: 320px;
  position: relative;
}


.body {
  width: 320px;
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
}

.brain {
  width: 46px;
  position: absolute;
  right: 8.55em;
  top: 0.1em;
}

.head-left {
  width: 125px;
  position: absolute;
  margin: 0;
  top: -3.25em;
  left: 2.2em;
  transition: all 200ms linear;
}

.head-right {
  width: 125px;
  position: absolute;
  transition: all 200ms linear;
  margin: 0 ;
  top: -3.25em;
  right: 2.17em;
}

div:hover .head-right {
  right: -1.4em;
}

div:hover .head-left {
    left: -1.4em;
}

h1 {
  left: 0;
  bottom: 1em;
  /* color: #fff; */
  background-color: #1a2230;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 1em;
  margin: 0;
}
