html {
  box-sizing: border-box;
  font-family: 'Contrail One', cursive;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2b3951;
  padding: 3.5em 0 0 0;
  margin: 0;
}

div {
  margin: 0;
}


.body {
  width: 320px;
  padding: 0 0 0 2.5em;
  margin: 0;
  position: relative;
  left: 1.35em;
}

.brain {
  width: 46px;
  position: absolute;
  right: 11.05em;
  top: 2em;
}

.head-left {
  width: 125px;
  position: absolute;
  margin: 0;
  top: -0.5em;
  left: 4.95em;
  transition: all 200ms linear;
}

.head-right {
  width: 125px;
  position: absolute;
  transition: all 200ms linear;
  margin: 0 ;
  top: -0.5em;
  right: 4.75em;
}

.head-right:hover {
  right: 2em;
}

.head-left:hover {
    left: 2em;
}

h1 {
  left: 0;
  bottom: 1em;
  /* color: #fff; */
  background-color: #1a2230;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 1em;
  margin: 0;
}
